<?xml version="1.0" encoding="UTF-8"?>
<restbot>
	<networking>
		<!-- IPv4 address of the machine running RESTbot; leave 127.0.0.1 for running it on yur own laptop/desktop and not exposing anything to the Internet -->
		<ip>127.0.0.1</ip>
		<port>9080</port>
		<!-- Login URI for your grid; default is Linden Lab's main grid -->
		<loginuri>https://login.agni.lindenlab.com/cgi-bin/login.cgi</loginuri>
	</networking>
	<security>
		<hostnamelock>false</hostnamelock>
		<!-- please change the password below! this is not enterprise-grade security... -->
		<serverpassword>pass</serverpassword>
	</security>
	<location>
		<!-- initial region for the RESTbot to jump to -->
		<sim>One Region</sim>
		<x>127</x>
		<y>127</y>
		<z>22</z>
	</location>
	<debug>
		<!-- this will add extra debugging data to the log -->
		<libsl>true</libsl>
		<restbot>true</restbot>
	</debug>
	<!-- some plugins may only be configured from here -->
	<plugin>
		<!-- reaper configuration: this plugin will remove 'stale' sessions that have been around for one hour -->
		<reaper>true</reaper>
		<reaper-sweep-interval>10000</reaper-sweep-interval>
	</plugin>
</restbot>
