[submodule "libremetaverse"]
	path = libremetaverse
	url = https://github.com/cinderblocks/libremetaverse
[submodule "libopenmetaverse"]
	path = libopenmetaverse
	url = https://github.com/openmetaversefoundation/libopenmetaverse
