<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Tell the config file parser to ignore the log4net section.
	  log4net config is later read by the log4net init code.
  -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionhandler" />
  </configSections>
  <appSettings>
  </appSettings>
  <!-- Configure log4net. <appender name="SyslogAppender"> means
       that it will log to local syslog on *nix. This does not
       work on Windows and should be changed there. Good ideas
       EventLogAppender (which logs to the windows Event log) or
       RemoteSyslogAppender (which logs to syslog on a remote
       *nix machine via UDP. For more info, see 
       http://logging.apache.org/log4net/release/config-examples.html
       You can also add more than one appender to log to multiple targets.
  -->
  <log4net>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <param name="Facility" value="USER" />
      <param name="Threshold" value="debug" />
      <param name="RemoteAddress" value="elektra.pleiades.ca" />
      <param name="RemotePort" value="4445" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %logger: %message %newline" />
      </layout>
    </appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	    <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %logger: %message %newline" />
        </layout>
	</appender>
	<root>
      <level value="ALL" />
      <appender-ref ref="RemoteSyslogAppender" />
	  <!-- Restbot has its own colored console printer,
	       so we don't log anything to the console using log4net -->
      <!-- <appender-ref ref="ConsoleAppender" /> -->
    </root>
  </log4net>

</configuration>
